<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
  <h1>URL SHORTNER</h1>
  <%# In EJS (Embedded JavaScript) templates, locals refers to an object containing variables that are passed from the server to the template for rendering.
The locals object can contain any type of data, such as strings, numbers, arrays, or objects. The server sets the values of these variables using the res.render() method,
 which takes the name of the EJS template and an optional object containing the data to be passed to the template.%>
 <% if (locals.id) { %>
  <p>Generated URL is http://localhost:8000/<%=  id %></p>
 <% } %>
  <div>
    <form method="POST" action="/url">
        <label>Enter your original URL</label>
        <input type="text" placeholder="https://example.com" name="url">
        <button type="submit">Generate</button>
    </form>
  </div>
  <div>
    <% if (locals.urls) { %>
<% if (locals.name) { %>
  <h1><%= name %></h1>
<% } %>
         <table  
           cellspacing="15">

        <thead>
            <th>S no</th>
            <th>Short ID</th>
            <th>Redirect Url</th>
            <th>Short Link</th>
            <th>Clicks</th>
            <th>Delete</th>
            <th>Created By</th>
        </thead>
        <tbody>
            <% urls.forEach((url,index) => { %>
                <tr>
               <td><%= index + 1 %></td>
               <td><%= url.shortId %></td>
               <td><%= url.redirectUrl %></td>
               <td><a href=" http://localhost:8000/<%= url.shortId %> "  target="_blank"> http://localhost:8000/<%= url.shortId %></a></td>
               <td><%= url.visitHistory.length %></td>
              <form method="post" action="/url/delete">
                 <td><button type="submit" name = "delete" value="<%= url.shortId%>">DELETE</button></td>
              </form>
              <td><%= url.CreatedBy.name %></td>
               </tr>
            <% }) %>
           
        </tbody>
     </table>
     <div>
    <form method="POST" action = "/user/logout">
      <button type="submit">LOGOUT</button>
    </form>
  </div>
    <% } %>
  </div>
</body>
</html>